@charset "utf-8";

/* reset
================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table { /* tables still need 'cellspacing="0"' in the markup */
    border-collapse: collapse;
    border-spacing: 0;
}

/*
  font css
 ================================== */
body {
    font: 16px/1.231 "メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", "MS UI Gothic", Helvetica, Arial, sans-serif;
    *font-size: medium;
    *font: small; /* customize for IE8 bug */
}

table {
    font-size: inherit;
    font: 100%;
}

pre, code, kbd, samp, tt {
    font-family: monospace;
    *font-size: 108%;
    line-height: 100%;
}

/* For IE8 */
html > /**/ body {
    font-size /*\**/: medium \9;
}

select, input, textarea {
    font: 99% arial, helvetica, clean, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}

th, td, pre, code, select, input, textarea, kbd, ins, del, samp {
    font-size: 100%;
}

address, cite, dfn, em, strong, var, th, ins, del, samp {
    font-weight: normal;
    font-style: normal;
}

/* tools
================================== */
/* self-clear */
.group:before, .group:after {
    content: "";
    display: table;
}

.group:after {
    clear: both;
}

.group {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}

/* clearer */
.cl {
    margin: 0;
    padding: 0;
    display: block;
    float: none;
    clear: both;
    height: 0;
    line-height: 0;
    font-size: 0;
}

/* Yahoo! styles
================================== */
/* EMG */
#emg, #emg2, #emg3 {
    width: 950px;
    margin: 0 auto;
    padding: 10px 0 0 0;
    text-align: center;
    line-height: 1.5;
    font-size: 0.88em;
}

#emg > table td, #emg2 > table td, #emg3 > table td {
    padding: 2px;
}

#emg2 br {
    display: none;
}

#emg > table, #emg2 > table, #emg3 > table {
    margin: 0 auto 20px;
    text-align: left;
}

/* footer usual styles */
.footer {
    font-size: 0.75em;
    text-align: center;
}

.footer a {
    text-decoration: underline;
}

.footer #pos-s {
    padding: 10px 0;
    text-align: center;
}

.footer address {
    border-top: 1px solid #CCCCCC;
    line-height: 1.4em;
    padding: 10px 0 20px;
    font-style: normal;
    font-weight: normal;
}

#uftMain, #uftMain * {
    float: none;
    clear: none;
    margin: 0px;
    padding: 0px;
    border: 0 solid;
    font-size: 0.75em;
    font-weight: normal;
    font-style: normal;
    line-height: 100%;
    text-indent: 0px;
    letter-spacing: 0px;
    word-spacing: 0px;
    text-transform: none;
    vertical-align: baseline;
}

/* basic layout
================================== */
body {
    line-height: 1;
}

.header, .tabiGaiyo, .kotei, .bottom, .footer, .mdNorthAlert, .tabiTomo, .schedView {
    width: 950px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

/* top page */
.wrapper {
    width: 950px;
    margin: 0 auto;
}

.topMain {
    width: 950px;
    height: 738px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background: url(../images/img_top_2014autumn.jpg) no-repeat;
}

.header02 {
    width: 950px;
    height: 199px;
    position: relative;
    background: url(../images/bg_plants_03.png) no-repeat 612px 0;
}

.header02 h1 {
    width: 354px;
    height: 158px;
    float: left;
    background: url(../images/bg_logo_03.png) no-repeat;
    text-align: left;
    text-indent: -99999px;
}

.header02 ul {
    width: 860px;
    height: 48px;
    position: absolute;
    left: 46px;
    top: 151px;
}

.header02 li {
    float: left;
}

.header02 ul a {
    height: 48px;
    display: block;
    text-align: left;
    text-indent: -99999px;
}

.header02 ul .b01 {
    width: 236px;
    background: url(../images/bg_navtop_01.png) no-repeat;
}

.header02 ul .b02 {
    width: 241px;
    margin: 0 0 0 49px;
    background: url(../images/bg_navtop_02.png) no-repeat;
}

.header02 ul .b03 {
    width: 276px;
    margin: 0 0 0 50px;
    background: url(../images/bg_navtop_03.png) no-repeat;
}

.header02 ul .b01a {
    width: 236px;
    background: url(../images/bg_navtop_01a.png) no-repeat;
}

.header02 ul .b02a {
    width: 241px;
    margin: 0 0 0 49px;
    background: url(../images/bg_navtop_02a.png) no-repeat;
}

.header02 ul .b03a {
    width: 276px;
    margin: 0 0 0 50px;
    background: url(../images/bg_navtop_03a.png) no-repeat;
}

.header02 > a {
    width: 160px;
    height: 50px;
    float: right;
    background: url(../images/bg_logo_04.png) no-repeat 0 20px;
    text-indent: -99999px;
    text-align: left;
}

.decor03 {
    width: 195px;
    height: 71px;
    position: absolute;
    left: 406px;
    top: 17px;
    background: url(../images/bg_birds_04.png) no-repeat;
}

.topMain .sassoku {
    position: absolute;
    top: 428px;
    right: 0;
}

.topMain .sassoku a {
    width: 215px;
    padding: 25px 45px 25px 0;
    display: block;
    background: #dc5c8b url(../images/ico_next_04.png) no-repeat 97% 50%;
    font-size: 1.38em;
    text-align: right;
    color: #fff;
    text-shadow: 1px 1px 0 #b95b84;
}

.topMain .capture {
    position: absolute;
    left: 16px;
    bottom: 0px;
}

.campaign {
    height: 140px;
    padding: 10px 0;
    overflow: hidden;
    background: url(../images/bg_campaign_01.png) repeat-x;
}

.campaign ul {
    padding: 10px 0;
    overflow: hidden;
}

.campaign li {
    width: 475px;
    height: 120px;
    float: left;
    position: relative;
}

.campaign li:first-child {
    width: 474px;
    border-right: 1px dotted #8a8a8b;
}

.campaign li a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url(../images/ico_arrow_02.png) no-repeat 96% 50%;
}

.campaign li a em {
    width: 300px;
    position: absolute;
    left: 130px;
    top: 85px;
    font-size: 0.88em;
    line-height: 1.2;
    color: #2C2C2C;
    cursor: pointer;
    word-break: break-all;
    word-wrap: break-word;
}

.socBtn {
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid #ccc;
}

.socBtn ul {
    display: inline-block;
    overflow: hidden;
/ display: inline;
/ zoom: 1;
}

.socBtn li {
    height: 21px;
    margin: 0 0 0 10px;
    float: left;
}

.socBtn li:first-child {
    margin-left: 0;
}

.socBtn .fcbk {
    width: 115px;
    height: 23px;
}

.socBtn .kakao {
    width: 68px;
    height: 20px;
    background: url('https://s.yimg.jp/images/kakao/share/btn/smp/v1/linkBtn.png') no-repeat;
    text-indent: -9999px;
    cursor: pointer;
}

/* header */
.header {
    height: 158px;
    background: url(../images/bg_header_01.png) repeat-x 0 100%;
    overflow: hidden;
    position: relative;
}

.header h1 {
    width: 636px;
    height: 146px;
    float: left;
    overflow: hidden;
    position: relative;
    background: url(../images/bg_logo_01.png) no-repeat;
}

.header h1 a {
    width: 165px;
    height: 117px;
    position: absolute;
    left: 48px;
    top: 0;
    text-indent: -9999px;
}

.header > p {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 0.75em;
}

.header > p span {
    margin: 45px 8px 0 0;
    float: right;
    line-height: 1.4;
    text-align: right;
    color: #333;
}

.header > p a {
    color: #333;
}

.header a.logoYt {
    width: 219px;
    height: 86px;
    float: right;
    background: url(../images/bg_logo_02.png) no-repeat;
    text-indent: -9999px;
}

.header ul {
    position: absolute;
    right: 0;
    bottom: 20px;
}

.header li {
    width: 80px;
    float: left;
}

.header li a, .header li span {
    padding: 30px 5px 0;
    margin: 0 5px;
    display: inline-block;
    font-size: 0.75em;
    font-weight: bold;
    color: #765946;
    background: url(../images/spr_big_01.png) no-repeat;
    text-align: center;
}

.header p span a {
    text-decoration: underline;
}

.header li a.off, .header li span.off {
    color: #a09085;
}

.header .bg01 {
    background-position: -31px -1058px;
}

.header .bg02 {
    background-position: -32px -1212px;
}

.header .bg03 {
    background-position: -41px -1366px;
}

.header .bg01.off {
    background-position: -31px -1135px;
}

.header .bg02.off {
    background-position: -32px -1289px;
}

.header .bg03.off {
    background-position: -41px -1443px;
}

/* bottom */
.bottom {
    height: 132px;
    background: url(../images/bg_bottom_01.png) no-repeat;
}

/* library
================================== */
/* type */
.type, .type02, .type03 {
    width: 46px;
    height: 46px;
    position: absolute;
    background: url(../images/spr_big_01.png) no-repeat;
}

.type02.typeSmall {
    width: 23px;
    height: 23px;
}

.type {
    background-position: -44px -44px;
}

.type02 {
    background-position: -44px -128px;
}

.type03 {
    background-position: -50px -218px;
}

.type02.typeSmall {
    background: url(../images/ico_fukidashi_small_02.png) no-repeat 0 0;
}

.type span, .type02 span, .type03 span {
    position: absolute;
    top: 50%;
    left: 50%;
    text-indent: -99999px;
    text-align: left;
    background: url(../images/spr_big_01.png) no-repeat;
}

.type.typeSmall span, .type02.typeSmall span, .type03.typeSmall span {
    width: 23px;
    height: 23px;
}

.train span {
    width: 16px;
    height: 20px;
    margin-left: -8px;
    margin-top: -10px;
    background-position: -50px -308px;
}

.gourmet span {
    width: 14px;
    height: 22px;
    margin-left: -7px;
    margin-top: -11px;
    background-position: -50px -648px;
}

.foot span {
    width: 20px;
    height: 18px;
    margin-left: -10px;
    margin-top: -9px;
    background-position: -50px -720px;
}

.heart span {
    width: 18px;
    height: 16px;
    margin-left: -9px;
    margin-top: -8px;
    background-position: -50px -582px;
}

.stars span {
    width: 20px;
    height: 18px;
    margin-left: -10px;
    margin-top: -9px;
    background-position: -50px -446px;
}

.toho span {
    width: 20px;
    height: 18px;
    margin-left: -10px;
    margin-top: -9px;
    background-position: -50px -378px;
}

.bus span {
    width: 18px;
    height: 20px;
    margin-left: -9px;
    margin-top: -10px;
    background-position: -50px -920px;
}

.plane span {
    width: 20px;
    height: 18px;
    margin-left: -10px;
    margin-top: -9px;
    background-position: -50px -514px;
}

.ferry span {
    width: 24px;
    height: 16px;
    margin-left: -12px;
    margin-top: -8px;
    background-position: -50px -788px;
}

.car span {
    width: 20px;
    height: 16px;
    margin-left: -10px;
    margin-top: -8px;
    background-position: -50px -854px;
}

.bicycle span {
    width: 22px;
    height: 18px;
    margin-left: -11px;
    margin-top: -9px;
    background-position: -50px -990px;
}

.typeSmall.gourmet span {
    width: 7px;
    height: 11px;
    margin-left: -4px;
    margin-top: -6px;
    background: url(../images/ico_gourmet_small_01.png) no-repeat;
}

.typeSmall.heart span {
    width: 9px;
    height: 8px;
    margin-left: -4px;
    margin-top: -3px;
    background: url(../images/ico_heart_small_01.png) no-repeat;
}

.typeSmall.stars span {
    width: 10px;
    height: 9px;
    margin-left: -5px;
    margin-top: -4px;
    background: url(../images/ico_stars_small_01.png) no-repeat;
}

/* review */
.review {
    height: 18px;
    line-height: 18px;
    display: inline-block;
/ font-family: sans-serif;
}

.review span {
    width: 102px;
    height: 18px;
    margin: 0 7px 0 0;
    display: inline-block;
    line-height: 18px;
    vertical-align: middle;
    background: url(../images/spr_stars_01.png) no-repeat -105px 0;
}

.review.st00 span {
    background-position: -105px 0;
}

.review.st10 span {
    background-position: -84px 0;
}

.review.st20 span {
    background-position: -63px 0;
}

.review.st30 span {
    background-position: -42px 0;
}

.review.st40 span {
    background-position: -21px 0;
}

.review.st50 span {
    background-position: 0 0;
}

/* review02 */
.review02 {
    height: 12px;
    display: inline-block;
    font-size: 0.88em;
/ font-family: sans-serif;
}

.review02 span {
    width: 68px;
    margin: 0 3px 0 0;
    display: inline-block;
    height: 12px;
    background: url(../images/spr_stars_02.png) no-repeat -70px 0;
    vertical-align: middle;
}

.review02.st00 span {
    background-position: -70px 0;
}

.review02.st10 span {
    background-position: -56px 0;
}

.review02.st20 span {
    background-position: -42px 0;
}

.review02.st30 span {
    background-position: -28px 0;
}

.review02.st40 span {
    background-position: -14px 0;
}

.review02.st50 span {
    background-position: 0 0;
}

/* buttons */
.btn01 {
    height: 32px;
    padding: 0 10px;
    line-height: 32px;
    background-color: #fc649d;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0 0 3px 0 #bfbfbf;
    -moz-box-shadow: 0 0 3px 0 #bfbfbf;
    box-shadow: 0 0 3px 0 #bfbfbf;
}

.btn01 span {
    margin: 0 0 0 5px;
    font-size: 0.8em;
}

.btn02 {
    background-color: #fff;
    border: 1px solid #aaa;
    padding: 4px;
    display: inline-block;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
    -webkit-box-shadow: 0 0 3px 0 #bfbfbf;
    -moz-box-shadow: 0 0 3px 0 #bfbfbf;
    box-shadow: 0 0 3px 0 #bfbfbf;
}

.btn02 span {
    width: 50px;
    height: 50px;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    background-color: #fc649d;
    color: #fff;
    cursor: pointer;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
}

.btn03 {
    width: 240px;
    line-height: 50px;
    display: inline-block;
    border: 5px solid #fff;
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 4px 0px #333;
    -moz-box-shadow: 0 0 4px 0px #333;
    box-shadow: 0 0 4px 0px #333;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.btn03 span {
    height: 100%;
    display: block;
    background-color: #755A46;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
}

.btn04 {
    padding: 0 20px 0 13px;
    line-height: 64px;
    display: inline-block;
    font-size: 1.5em;
    background-color: #fc649d;
    color: #fff;
}

.btn04 span {
    margin: 0 48px 0 0;
    font-size: 0.75em;
    vertical-align: middle;
}

.btn05 {
    padding: 0 10px;
    height: 32px;
    line-height: 32px;
    border: 1px solid #aaa;
    background-color: #ddd;
    display: inline-block;
    vertical-align: middle;
    color: #666;
    text-align: center;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.btn05 span {
    margin: 0 0 0 23px;
    color: #fc649d;
    font-size: 0.8em;
}

.btn06 {
    width: 45px;
    padding: 0 0 0 40px;
    line-height: 34px;
    height: 34px;
    vertical-align: middle;
    background: #fc649d url(../images/spr_big_03.png) no-repeat -39px -832px;
    display: inline-block;
    color: #fff;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}

.btn07 {
    padding: 9px 12px;
    display: inline-block;
    border: 1px solid #aaa;
    background: url(../images/bg_dots_01.png) repeat;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.btn07 span {
    width: 110px;
    border: 1px solid #aaa;
    line-height: 30px;
    display: inline-block;
    text-align: center;
    font-size: 100%; /*16px*/
    color: #fff;
    background-color: #765946;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
}

.btn07.c1 span {
    background-color: #ff6000;
}

.btn09 {
    padding: 0 10px;
    line-height: 24px;
    background-color: #ff995b;
    display: inline-block;
    color: #fff;
    text-align: center;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
}

.btn10 {
    width: 89px;
    height: 63px;
    padding: 45px 0 0 0;
    display: inline-block;
    text-align: center;
    color: #f14077;
    background: url(../images/spr_big_02.png) no-repeat -50px -984px;
    cursor: pointer;
    font-size: 0.88em;
}

.btn11 {
    width: 138px;
    height: 34px;
    padding: 33px 0 0;
    display: inline-block;
    font-size: 0.75em;
    text-align: center;
    color: #f14077;
    background: url(../images/spr_big_02.png) no-repeat -50px -1142px;
    cursor: pointer;
}

.btn12 {
    padding: 3px 4px;
    display: inline-block;
    border: 1px solid #d7d7d7;
    background-color: #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.btn12 span {
    width: 85px;
    line-height: 35px;
    display: inline-block;
    text-align: center;
    color: #fff;
    background-color: #765946;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
}

.btn12.c1 span {
    background-color: #ff6000;
}

/* decorations */
.divider {
    height: 80px;
    margin: 0 0 0 20px;
    display: inline-block;
    border-right: 1px dashed #fc649d;
    vertical-align: middle;
}

.decor01 {
    width: 120px;
    height: 36px;
    position: absolute;
    left: 80px;
    top: -15px;
    background: url(../images/bg_birds_02.png) no-repeat;
}

.decor02 {
    width: 50px;
    height: 29px;
    position: absolute;
    background: url(../images/spr_big_02.png) no-repeat -50px -804px;
}

.crown {
    width: 32px;
    height: 24px;
    position: absolute;
    background: url(../images/spr_big_01.png) no-repeat -50px -1688px;
}

.bubble {
    padding: 0 0 0 32px;
    line-height: 19px;
    display: inline-block;
    background: url(../images/spr_big_03.png) no-repeat -50px -445px;
    color: #f14077;
}

.bubble02 {
    padding: 0 0 0 19px;
    background: url(../images/spr_big_03.png) no-repeat -50px -513px;
    color: #fc649d;
}

.bubble03 {
    padding: 0 0 0 24px;
    background: url(../images/spr_big_03.png) no-repeat -50px -576px;
}

.icoInfo {
    padding: 0 0 0 24px;
    background: url(../images/spr_big_03.png) no-repeat -50px -909px;
}

.linkExt02 {
    padding: 0 19px 0 0;
    background: url(../images/spr_big_03.png) no-repeat -50px -775px;
}

.dotted {
    background: url(../images/bg_dots_01.png);
}

.dotRnd {
    background: url(../images/bg_dots_01.png);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 3px 0 #bfbfbf;
    -moz-box-shadow: 0 0 3px 0 #bfbfbf;
    box-shadow: 0 0 3px 0 #bfbfbf;
}

.ttlBg {
    width: 360px;
    padding: 0 0 0 40px;
    line-height: 64px;
    background: #fc649d url(../images/bg_birds_01.png) no-repeat 288px 3px;
    font-size: 1.5em;
    color: #fff;
}

.tagHozon {
    width: 101px;
    height: 38px;
    background: url(../images/spr_big_02.png) no-repeat -50px -1848px;
    text-align: left;
    text-indent: -99999px;
}

.tagKettei {
    width: 101px;
    height: 38px;
    background: url(../images/spr_big_02.png) no-repeat -50px -1936px;
    text-align: left;
    text-indent: -99999px;
}

/* pages styles
================================== */

/* カバーレイヤ */
.init_load_wrap {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    min-width: 950px;
    height: 100%;
    z-index: 10000;
    display: block;
}

/* tabiGayo */
.tabiGaiyo {
    height: 320px;
    overflow: hidden;
    position: relative;
}

.tabiGaiyo > img {
    max-width: 100%;
    min-width: 100%;
    margin: 0 auto;
}

.tabiGaiyo .gWrp h2, .tabiGaiyo .gaiyo, .tabiGaiyo .date, .tabiGaiyo .change {
    background: url(../images/bg_semitrnsp_01.png);
}

.tabiGaiyo .gaiyo {
    font-size: 0.75em;
}

.tabiGaiyo .gWrp {
    position: absolute;
    top: 26px;
    left: 0;
}

.tabiGaiyo .gWrp h2 {
    margin: 0 0 2px 0;
    width: 590px;
    padding: 13px 22px;
    /*position: relative;*/
    font-size: 1.43em;
    color: #ddd;
    text-align: left;
}

.gWrp input, .gWrp textarea {
    background: transparent;
    color: #ddd;
    border: medium none;
    display: none;
}

.tabiGaiyo .gWrp .title_view {
    font-weight: normal;
    letter-spacing: -1px;
}

/* title_input */
.tabiGaiyo .gWrp h2 input {
    width: 590px;
    font-size: 1em;
    margin-top: -3px;
    outline: none;
    height: 27px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    .tabiGaiyo .gWrp h2 input {
        padding: 0 0 2px 0;
        vertical-align: top;
    }
}

.tabiGaiyo .gWrp .summary_view {
    letter-spacing: -1px;
    font-size: 1.13em;
}

.tabiGaiyoTen {
    padding-left: 20px;
}

/* summary_input */
.tabiGaiyo .gaiyo textarea {
    width: 590px;
    height: 50px;
    resize: none;
    font-size: 1.13em;
    outline: none;
    line-height: 1.1;
    padding: 0;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
    .tabiGaiyo .gaiyo textarea {
        letter-spacing: -1px;
    }
}

.tabiGaiyo .gaiyo { /* summary_block */
    float: left;
    clear: left;
    position: relative;
    width: 590px;
    height: 24px;
    padding: 15px 22px 7px;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    color: #ccc;
}

.tabiGaiyo .date, .tabiGaiyo .change {
    padding: 15px 22px;
    line-height: 1.2;
    font-size: 0.88em;
    color: #fff;
}

.tabiGaiyo .date {
    position: absolute;
    left: 0;
    top: 210px;
    white-space: nowrap;
}

.tabiGaiyo .date div {
    white-space: nowrap;
}

.tabiGaiyo .date a {
    margin: 0 0 0 10px;
    padding: 0 0 0 10px;
    display: inline-block;
    color: #fff;
}

.tabiGaiyo .change {
    position: absolute;
    top: 210px;
    width: 196px;
    right: 0;
}

.tabiGaiyo .change span {
    padding: 0 0 0 26px;
    background: url(../images/spr_big_03.png) no-repeat -50px -639px;
}

.gaiyo_count {
    position: absolute;
    top: 160px;
    left: -200px;
    width: 170px;
    font-size: 0.88em;
    padding: 6px 10px;
    background: #fff;
    color: #444;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    filter: alpha(opacity=80);
    opacity: 0.8;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.gaiyo_count span {
    color: #f00;
}

.mainNav {
    width: 100%;
    height: 58px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url(../images/bg_mainnav_01.png) repeat-x 0 100%;
}

.mainNav li {
    width: 101px;
    height: 53px;
    line-height: 52px;
    border-bottom: 4px solid #fff;
    border-left: 1px solid #765946;
    float: left;
    position: relative;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 0.88em;
}

.mainNav li:first-child {
    border-left: none;
}

.mainNav li a {
    padding-top: 1px;
    border-left: 1px solid #765946;
    display: block;
    letter-spacing: 1px;
    color: #fff;
    text-align: center;
}

.mainNav li:first-child a {
    border-left: none;
}

.mainNav .last a {
    border-right: 1px solid #765946;
}

.mainNav .sel {
    border-bottom-color: #ff8c8c;
    cursor: default;
    color: #F14077;
}

.mainNav .sel a {
    color: #f14077;
}

.mainNav .tsuika a {
    height: 43px;
    padding: 10px 0 0;
    font-size: 0.75em;
    line-height: 1;
}

.mainNav .tsuika b {
    display: block;
    font-weight: bold;
    font-size: 1.75em;
}

.tab_delete_btn {
    position: absolute;
    top: -5px;
    right: 0px;
    font-size: 2em;
    color: #f00;
    line-height: 1em;
    padding: 0 5px;
    cursor: pointer;
    text-shadow: 0 0 2px #000, 0 0 2px #000, 0 0 2px #000;
    opacity: 0.6;
    filter: alpha(opacity=60); /* ie 6 7 */
    -ms-filter: "alpha(opacity=60)"; /* ie 8 */
    display: none;
}

/* kotei */
.kotei {
    position: relative;
    margin-top: 10px;
}

.bg01 {
    background: url(../images/bg_plants_02.png) no-repeat 78px 100%;
}

.kotei_inner > div {
    margin: 0 0 0 132px;
    padding: 3px;
    border-left: 1px solid #765946;
    border-top: 1px dashed #765946;
    position: relative;
}

.kotei_none {
    display: none;
}

.kotei_inner .ui-sortable-helper {
    *margin: auto;
}

.kotei h3 {
    margin: 23px 0 0 0;
    padding: 0 0 0 71px;
    position: relative;
    color: #765946;
}

.kotei h3 span {
    width: 115px;
    height: 45px;
    line-height: 45px;
    position: absolute;
    left: -58px;
    top: -10px;
    text-align: center;
    color: #fff;
}

.kotei .ohayo {
    height: 79px;
    border-top: none;
    position: static; /* .popupのie7非表示バグの解決 */
    background: url(../images/bg_birds_03.png) no-repeat 100% 0;
}

.kotei .ohayo h3 span {
    border-top: 10px solid #fff;
/ border-top-width: 5 px;
    top: -26px;
/ top: - 20 px;
    background: url(../images/spr_big_02.png) no-repeat -50px -50px;
}

.kotei .ohayo h3 var {
    font-size: 1.5em;
    padding-left: 10px;
    position: relative;
    top: -4px;
}

.kotei .oyasumi {
    height: 144px;
}

.kotei .oyasumi h3 span {
    background: url(../images/spr_big_02.png) no-repeat -50px -240px;
}

.kotei .spot {
    overflow: hidden;
    border: 1px solid #765946;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background-color: #fed8e6;
    color: #333;
    font-size: 0.88em;
}

.kotei .spot.min {
    padding: 3px 18px 7px 18px;
}

.kotei .type {
    top: -23px;
    right: 100%
}

.kotei h4 {
    position: absolute;
    right: 100%;
    top: -19px;
    margin: 0 46px 0 0;
    font-size: 1.4em;
    font-weight: normal;
    letter-spacing: 1px;
    color: #666;
}

.kotei h4 span {
    font-size: 1.66em;
}

.kotei .blur {
    color: #aaa;
}

.kotei img {
    margin: 0 24px 0 0;
    float: left;
    -webkit-border-radius: 6px 0 0 6px;
    -moz-border-radius: 6px 0 0 6px;
    border-radius: 6px 0 0 6px;
}

.kotei .btnEdit {
    width: 104px;
    height: 40px;
    position: absolute;
    right: 66px;
    bottom: 4px;
    background: url(../images/spr_big_02.png) no-repeat -50px -335px;
    font-size: 0.75em;
    line-height: 50px;
    text-align: center;
    color: #fc649d;
}

.kotei .btnShosai {
    width: 58px;
    border-left: 1px solid #d59f7c;
    position: absolute;
    top: 4px;
    bottom: 4px;
    right: 4px;
    background: url(../images/ico_lines_01.png) no-repeat 50% 50%;
    text-indent: -9999px;
}

.kotei h5 {
    padding: 12px 50px 5px 0;
    font-size: 1.13em;
    padding: 10px 50px 7px 0;
}

.kotei h5, .kotei .spot h5 a {
    color: #333;
}

.kotei p, .kotei dl {
    color: #333;
}

.kotei .spot a {
    color: #fc649d;
}

.kotei .spot a.bubble {
    color: #f14077;
}

.kotei h5 .spot_title_detail {
    font-size: 0.88em;
    font-weight: normal;
    padding-left: 3px;
}

.kotei h5 .spot_title_detail span {
    color: #fc649d;
}

.spot_rating_text {
    position: relative;
    top: 2px;
}

.spot_rating_hyphen {
    padding: 0 5px;
    position: relative;
    top: -1px;
}

.spot_img {
    height: 118px;
    width: 165px;
}

.kotei dl {
    margin: 5px 0 0 0;
    padding: 0 0 5px 0;
    line-height: 1.3;
}

.kotei dt {
    width: 4em;
    margin: 0 14px 0 0;
    float: left;
    text-align: right;
}

.btnTsuika {
    width: 234px;
    height: 58px;
    margin: 0 auto;
    display: block;
    line-height: 58px;
    font-size: 1.13em;
    text-align: center;
    color: #aaa;
    background: url(../images/spr_big_02.png) no-repeat -50px -425px;
}

.btnTsuika span {
    margin: 0 5px 0 0;
    font-size: 1.2em;
    vertical-align: bottom;
    font-weight: bold;
}

.kotei .leader {
    width: 50%;
    margin: 29px auto -29px 0;
    border-bottom: 4px dotted #fd8f8f;
    display: block;
}

.kotei .start {
    border-top: none;
}

*:first-child + html .kotei .ohayo.start h3 span { /* IE7 */
    top: -23px;
}

.kotei .start .btnTsuika {
    color: #765946;
}

.buttons {
    position: absolute;
    right: 20px;
    bottom: 17px;
    z-index: 1;
}

.buttons a {
    margin: 0 0 0 23px;
    font-size: 1.13em;
    font-weight: bold;
}

.shita .buttons .modPlanError {
    display: none;
    color: #f00;
    font-size: 14px;
    margin-bottom: 5px;
    text-align: right;
}

.iro01 span {
    background-color: #f14077;
}

.ui-state-highlight {
    background-color: #ddd;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

/* modal */
.modal {
    width: 780px;
    padding: 50px 0 0 40px;
    margin: 0 auto;
    overflow: hidden;
    display: none;
    position: relative;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    background: #f3f3f3 url(../images/bg_plane_01.png) no-repeat 100% 18px;
/ background-position: 630 px 18 px;
}

.modal .batsu {
    font-size: 0.94em;
    color: #fc649d;
    position: absolute;
    right: 30px;
    top: 25px;
    text-align: center;
    cursor: pointer;
}

.modal .batsu span {
    font-size: 1.88em;
    color: #aaa;
    display: block;
    cursor: pointer;
}

.mdl_cancel {
    cursor: pointer;
}

.modal .spot_src_unit_add h3 {
    cursor: pointer;
    text-shadow: 0 0 3px #000, 0 0 3px #333, 0 0 3px #333;
}

.spot_src_unit_link {
    height: 90px;
    text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff;
    cursor: pointer;
}

.spot_src_unit_link p {
    text-shadow: -1px -1px #FFF, 1px -1px 0 #FFF, -1px 1px #FFF, 1px 1px #FFF, -2px -2px #FFF, 2px -2px 0 #FFF, -2px 2px #FFF, 2px 2px #FFF;
}

.spot_cover {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: #fff;
    opacity: 0.75;
    filter: alpha(opacity=70); /* ie 6 7 */
    -ms-filter: "alpha(opacity=70)"; /* ie 8 */
    display: none;
    vertical-align: middle;
    z-index: 10050;
}

.spot_cover img {
    position: absolute;
    top: 43%;
    left: 43%;
}

.modal .over_btn04 {
    margin: 0;
}

.modal .ttlBg {
    margin: 0 0 22px -40px;
}

.modal .ttlBg.sml {
    font-size: 0.94em;
}

.modal .gallery {
/ padding: 0 0 16 px 0;
}

.modal .gallery li {
    width: 360px;
    height: 150px;
    margin: 0 16px 16px 0;
    border: 1px solid #ccc;
    float: left;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 3px 0 #bfbfbf;
    -moz-box-shadow: 0 0 3px 0 #bfbfbf;
    box-shadow: 0 0 3px 0 #bfbfbf;
}

.modal .gallery li > a {
    padding: 40px 0 0 25px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal .gallery li img {
    max-width: 100%;
}

.modal .gallery li strong {
    font-size: 3em;
    color: #fff;
    text-shadow: 0 0 3px #333;
}

.modal .gallery li em {
    position: absolute;
    left: 30px;
    bottom: 12px;
    font-size: 0.75em;
    font-style: normal;
    color: #444;
/ line-height: 1.2;
    cursor: pointer;
}

.modal .gallery .kanko {
    background: url(../images/bg_hearts_01.png) no-repeat 243px 0;
}

.modal .gallery .taberu {
    background: url(../images/bg_hats_01.png) no-repeat 231px -10px;
}

.modal .gallery .tomaru {
    background: url(../images/bg_stars_01.png) no-repeat 210px 30px;
}

.modal .gallery .ido {
    background: url(../images/bg_feet_01.png) no-repeat 10px 2px;
}

.modal .type02 {
    bottom: 15px;
    right: 20px;
    cursor: pointer;
}

.modal .frm01 {
    width: 710px;
    padding: 20px 0 20px 28px;
    margin: 40px 0 50px 0;
    border: 1px solid #ccc;
    position: relative;
}

.modal .frm01 h2 {
    margin: 0 0 10px 0;
    font-size: 1.25em;
    color: #444;
    position: absolute;
    left: 0;
    bottom: 100%;
}

.ttlFrm01 span {
    font-size: 0.7em;
    font-weight: normal;
    padding-left: 5px;
    color: #666;
}

.modal .frm01 p {
    margin: 0 0 9px 0;
    font-size: 0.88em;
    color: #444;
}

.modal .frm01 .btn01 {
    margin: 0 10px;
    font-size: 1.2em;
}

.modal .frm01 .btn01:first-child {
    margin-left: 0;
}

.modal .frm01 input, .modal .frm03 input {
    width: 594px;
    height: 58px;
    line-height: 58px;
    padding: 0 10px;
    margin: 0 13px 0 0;
    border: 1px solid #777;
    font-size: 0.88em;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
}

.modal .btn02 {
    vertical-align: middle;
}

.modal .btn04 {
    margin: 0 0 0 -40px;
}

.modal .ttl01 {
    margin: 0 0 0 30px;
    display: inline;
    font-size: 1.5em;
    color: #444;
}

.modal .ttl02, .modal .ttl03 {
    margin: 35px 0 20px 0;
    padding: 0 0 0 50px;
    position: relative;
    font-size: 0.88em;
    color: #444;
}

.modal .ttl03 {
    margin: 0 0 35px 0;
    font-size: 1.5em;
}

.mdl5 {
    width: 550px;
}

.modal .ttl02 .type02 {
    left: -6px;
    top: -19px;
}

.modal .ttl03 .type02 {
    left: -4px;
    top: -12px;
}

.frm02 .btn05, .frm02 .btn06, .frm02 input {
    vertical-align: middle;
}

.frm02 input {
    width: 389px;
    height: 32px;
    line-height: 32px;
    padding: 0 10px;
    margin: 0 0 0 9px;
    border: 1px solid #aaa;
    border-right: none;
    font-size: 1.08em;
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}

.modal .msg {
    margin: 13px 0 29px;
    position: relative;
    font-size: 0.88em;
    color: #777;
}

.modal .msg > div {
    left: 60px;
    position: absolute;
    top: -2px;
    width: 600px;
    color: #f00;
    line-height: 1.4em;
}

.btnPrev01 {
    width: 49px;
    height: 426px;
    margin: 0 6px 0 0;
    position: absolute;
    right: 100%;
    top: 0;
    background: url(../images/spr_big_04.png) no-repeat -484px 144px;
    text-indent: -9999px;
}

.btnNext01 {
    width: 49px;
    height: 426px;
    position: absolute;
    left: 100%;
    top: 0;
    background: url(../images/spr_big_04.png) no-repeat -220px 144px;
    text-indent: -9999px;
}

.modal .nmdl {
    color: #444;
    padding: 10px 0 0 20px;
    line-height: 1.5em;
}

.edit_confirm_btn3 {
    margin: 40px 0px 40px -30px;
    text-align: center;
}

.modal .normal_modal_bp {
    margin-right: 20px;
}

.modal_inner {
    position: relative;
    width: 100000px;
    margin-top: 18px;
    overflow: hidden;
    left: 0px;
}

.search_result_img {
    height: 102px;
    width: 154px;
    cursor: pointer;
}

.mordal_input_error {
    position: absolute;
    top: -25px;
    right: 0px;
    color: #f00;
    font-size: 0.88em;
    display: none;
}

.modal .over_ttl02 {
    margin: 15px 0 18px 0;
}

.gallery02 {
    width: 688px;
    margin: 0px;
    float: left;
    position: relative;
    left: 28px;
}

.gallery02 > div {
    width: 3000px;
    height: 426px;
    position: relative;
    left: 0;
}

.gallery02 > .carousel {
    position: absolute;
    top: 0px;
    width: 64px;
    background: #fff;
    opacity: 0.7;
    filter: alpha(opacity=70); /* ie 6 7 */
    -ms-filter: "alpha(opacity=70)"; /* ie 8 */
}

.gallery02 > .spot_cal_left {
    left: -68px;
}

.gallery02 > .spot_cal_right {
    left: 100%;
}

.gallery02 .spot_search_cover {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: url('../images/loading.gif') no-repeat 50% 50%;
    display: none;
}

.gallery02 ul {
    width: 688px;
    float: left;
    overflow: hidden;
    position: relative;
}

.gallery02 .opq * { /* ie7-ie8 need some >asterisks */
    filter: alpha(opacity=30);
/ filter: alpha(opacity = 40);
    opacity: 0.5;
}

.gallery02 li {
    width: 164px;
    height: 208px;
    margin: 0 6px 6px 0;
    border: 1px solid #ccc;
    float: left;
    overflow: hidden;
    background: url(../images/bg_dots_01.png);
    position: relative;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 1px 1px 3px 0 #bfbfbf;
    -moz-box-shadow: 1px 1px 3px 0 #bfbfbf;
    box-shadow: 1px 1px 3px 0 #bfbfbf;
}

.gallery02 .fc {
    margin-left: 0;
}

.gallery02 li div {
    padding: 4px 0 0 0;
    margin: 0 0 6px 0;
    position: relative;
}

.gallery02 li img {
    display: block;
    margin: 0 auto 0 auto;
    border: 1px solid #aaa;
}

.gallery02 li h3 {
    font-size: 0.88em;
    color: #fff;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 10px;
    bottom: 8px;
    font-size: 0.75em;
    line-height: 1.1;
    text-shadow: 1px 1px 3px #000;
}

.gallery02 li .abs {
    padding: 0 14px;
    line-height: 30px;
    position: absolute;
    right: 8px;
    top: 8px;
    color: #fff;
    background: url(../images/bg_semitrnsp_01.png);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.gallery02 .review02 {
    display: block;
    margin: 0 10px 10px 10px;
    color: #444;
    cursor: pointer;
}

.gallery02 .review02 span {
    height: 14px;
}

.gallery02 .linkExt02 {
    height: 14px;
    line-height: 14px;
}

.gallery02 li p {
    padding: 0 10px;
    font-size: 0.88em;
    line-height: 1.2;
    color: #765946;
}

.gallery02 .spot_src_unit_link .detail {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #765946;
    font-size: 0.88em;
    letter-spacing: 1px;
}

.gallery02 .spot_src_unit_link .detail span {
    color: #fc649d;
    padding: 0 1px;
}

.spot_nomatch_err {
    color: #f00;
    padding-left: 20px;
}

.spot_nohit_free {
    position: absolute;
    top: 0px;
    left: 20px;
    width: 650px;
    display: none;
}

.spot_nohit_free form {
    width: 605px;
    margin: 70px 0;
}

.gllr02Wrp .colred {
    color: #f00;
    font-size: 0.88em;
    letter-spacing: 1px;
    line-height: 1.3em;
}

.spot_nohit_free .frm01 input {
    width: 490px;
}

.modal .henko {
    margin: 0 0 14px 0;
    line-height: 80px;
    color: #444;
    position: relative;
}

.modal .henko02 {
    margin: 0 0 18px 0;
    padding: 0 0 0 40px;
    line-height: 58px;
    color: #444;
    background-color: #fff;
}

.modal .henko .btn01, .modal .henko02 .btn01 {
    margin: 0 5px;
}

.modal .henko .btn01:first-child, .modal .henko02 .btn01:first-child {
    margin-left: 0;
}

.modal .btn07 {
    margin: 0 0 0 20px;
/ vertical-align: middle;
}

.modal .frm03 {
    width: 738px;
    padding: 25px 0;
    margin: 0 0 14px 0;
    border: 1px solid #ccc;
    text-align: center;
}

.modal .frm03 input {
    width: 664px;
    margin: 0 auto;
}

.modal .decor01.ps02 {
    left: 110px;
    top: 56px;
}

.edit_confirm {
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 50px 0 0 0;
    border-radius: 6px 6px 6px 6px;
    background: url(../images/bg_plane_01.png) no-repeat 100% 18px #F3F3F3;
    display: none;
    z-index: 10;
}

.edit_confirm_btn {
    position: relative;
    text-align: center;
}

.edit_confirm_btn2 {
    position: relative;
    margin-top: 50px;
    text-align: center;
}

.edit_modal_cancel {
    margin-left: 30px;
}

.mod_modal_error {
    position: absolute;
    top: 60px;
    left: 40px;
    font-size: 0.88em;
    color: #f00;
    display: none;
}

.modal .edit_pull_float {
    float: left;
    margin-right: 5px;
}

.modal .edit_pull_cancel_lh {
    line-height: normal;
}

.modal .edit_pull_elm_1 {
    margin-top: 25px;
}

.modal .edit_pull_elm_2 {
    margin-top: 25px;
    margin-right: 5px;
}

.modal .edit_pull_elm_3 {
    margin-top: 15px;
}

/* haikeiSelect */
.haikeiSelect {
    width: 100%;
    position: absolute;
    left: 0;
    z-index: 9999;
}

.haikeiSelect {
    position: absolute;
    top: 0px;
    margin: auto;
    padding: 0px;
    border: 0px solid #000;
    display: none;
}

.haikeiSelect > div {
    width: 950px;
    margin: 0 auto;
    padding-top: 1px;
    border-top: 1px solid #ccc;
    position: relative;
    background: url(../images/bg_dots_01.png);
    -webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
    -webkit-box-shadow: 0 3px 3px 0 #000;
    -moz-box-shadow: 0 3px 3px 0 #000;
    box-shadow: 0 3px 3px 0 #000;
}

.haikei_inner {
    position: relative;
    height: 107px;
    left: 62px;
    width: 50000px;
}

.msg02 {
    margin: 0 0 0 17px;
    font-size: 0.75em;
    color: #fc649d;
}

.btn08 {
    width: 153px;
    height: 60px;
    padding: 36px 0 0 0;
    text-align: center;
    text-indent: 10px;
    position: absolute;
    top: -40px;
    right: 0;
    font-size: 0.88em;
    letter-spacing: 2px;
    color: #765946;
    background: url(../images/spr_big_02.png) no-repeat -50px -533px;
}

.btn08 span {
    margin: 0 0 0 10px;
    font-size: 2em;
    font-weight: bold;
}

.btnPrev02 {
    height: 152px;
    width: 53px;
    position: absolute;
    left: 0;
    top: 0;
    text-indent: -99999px;
    background: url(../images/spr_big_04.png) no-repeat -306px 10px;
}

.btnNext02 {
    height: 152px;
    width: 53px;
    position: absolute;
    right: 0;
    top: 0;
    text-indent: -99999px;
    background: url(../images/spr_big_04.png) no-repeat -42px 10px;
}

.frm04 {
    padding: 30px 30px 20px;
    background-color: #fff;
    color: #765946;
}

.frm04 input, .frm04 label {
    vertical-align: middle;
}

.frm04 label {
    vertical-align: middle;
    font-size: 1.13em;
}

.frm04 input[type="text"] {
    width: 235px;
    margin: 0 4px 0 38px;
}

/* scheduleView */
.tabiGaiyo .gWrp02 {
    left: 30px;
    position: absolute;
    top: 35px;
    color: #fff;
    text-shadow: 0px 0px 10px #000;
}

.tabiGaiyo .gWrp02 h2 {
    margin: 0 0 10px 0;
    font-size: 1.87em;
}

.tabiGaiyo .gWrp02 p {
    width: 525px;
    font-size: 0.88em;
    line-height: 1.4;
    font-weight: bold;
    letter-spacing: 1px;
    word-break: break-all;
    word-wrap: break-word;
}

.tabiGaiyo .tabiJikan {
    left: 30px;
    position: absolute;
    bottom: 80px;
    color: #fff;
    text-shadow: 0px 0px 10px #000;
}

.tabiGaiyo .tabiJikan dt {
    font-size: 0.88em;
/ line-height: 1.1;
}

.tabiGaiyo .tabiJikan dd {
    font-size: 2.25em;
}

.tabiGaiyo .tabiJikan dd small {
    font-size: 0.5em;
}

.tabiGaiyo .tabiJikan dd span {
    margin: 0 9px 0 -9px;
/ font-family: "ＭＳ Ｐ明朝", "MS PMincho";
/ letter-spacing: 3 px;
/ margin: 0;
}

.tabiTomo {
    height: 126px;
    position: relative;
    background: url(../images/bg_tabitomo_01.png) repeat-x 0 100%;
}

.tabiTomo h3 {
    width: 146px;
    padding: 25px 0 0 30px;
    float: left;
    font-size: 1.25em;
    letter-spacing: 3px;
    font-weight: normal;
    color: #765946;
    background: url(../images/spr_big_02.png) no-repeat -20px -914px;
    overflow: hidden;
}


.btnPrev03 {
    height: 100%;
    width: 50px;
    margin: 0 18px 0 0;
    position: absolute;
    right: 100%;
    top: 0;
    text-indent: -99999px;
    background: url(../images/spr_big_04.png) no-repeat -396px -40px;
}

.btnNext03 {
    height: 100%;
    width: 50px;
    position: absolute;
    left: 100%;
    top: 0;
    text-indent: -99999px;
    background: url(../images/spr_big_04.png) no-repeat -132px -40px;
}

.gallery04 .opq {
    filter: alpha(opacity=20);
    opacity: 0.20;
}

.tabiTomo .decor02 {
    left: 140px;
    top: 28px;
    z-index: -1;
}

.popup {
    width: 248px;
    margin: 10px 0 0 0;
    display: none;
    position: absolute;
    top: 100%;
    right: 12px;
    z-index: 5;
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px 0 #000;
    -moz-box-shadow: 0 1px 3px 0 #000;
    box-shadow: 0 1px 3px 0 #000;
}

.popup ul {
    padding: 20px 0 20px 20px;
}

.popup li {
    margin: 20px 0 0 0;
    font-size: 0.63em;
}

.popup li:first-child {
    margin-top: 0;
}

.popup li a {
    color: #765946;
}

.popup .attention_txt {
    margin-top: 7px;
}

.popup .attention_txt a {
    color: #f14077;
}

.triangle {
    position: absolute;
    right: 27px;
    bottom: 100%;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 5px 8px 5px;
    border-color: transparent transparent #ffffff transparent;
}

.schedView {
    padding-top: 1px;
    background: url(../images/bg_circles_01.png) no-repeat 100% 0;
}

.schedView .noPlan {
    display: none;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0;
    background-color: #fff;
    width: 50%;
}

.schedView .nextDay {
    left: 0;
    position: absolute;
    right: 0;
    bottom: -90px;
    text-align: center;
    color: #F14077;
    font-size: 0.88em;
    cursor: pointer;
    z-index: 3;
    width: 60px;
    margin: 0 auto;
    display: none;
}

.bgOhayo {
    width: 200px;
    height: 76px;
    margin: 8px 0 0 38px;
    display: block;
    background: url(../images/bg_birds_03.png) no-repeat;
}

.vgridWrapper {
    width: 950px;
}

.schedView .ohy, .schedView .oys {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
}

.schedView .ohy span, .schedView .oys span {
    width: 115px;
    height: 45px;
    line-height: 45px;
    margin: 0 auto;
    display: block;
    text-align: center;
    color: #fff;
}

.schedView .ohy {
    bottom: 100%;
    margin: 0 0 10px 0;
}

.schedView .ohy span {
    background: url(../images/spr_big_02.png) no-repeat -50px -50px;
}

.schedView .oys {
    top: 100%;
    margin: 5px 0 0 0;
}

.schedView .oys span {
    background: url(../images/spr_big_02.png) no-repeat -50px -240px;
}

.schedView .chuo {
    position: relative;
    background: url(../images/bg_ashiato_01.png) repeat-y 50% 0;
}

.schedule_node {
    display: none;
}

.schedule_next_btn {
    position: absolute;
    top: 80px;
    left: -30px;
    background: #fff;
    color: #f14077;
    padding: 5px;
    cursor: pointer;
}

.schedView .yoko01, .schedView .yoko02 {
    width: 50%;
    padding: 18px 0 0 0;
    float: left;
    overflow: hidden;
}

.schedView .yoko02 {
    padding: 50px 0 0 0;
}

.schedView .appo {
    width: 425px;
    margin: 0 25px 40px 25px;
    position: relative;
}

.schedView .yoko02 .appo {
    margin: 0 auto 25px 30px;
}

.schedView .appo a {
    color: #F14077;
}

.schedView .appo h4 {
    height: 25px;
    position: relative;
    font-size: 1.13em;
    text-align: right;
    color: #765946;
}

.schedView .appo h4.right {
    padding-right: 40px;
    text-align: right;
}

.schedView .appo h4.left {
    padding-left: 40px;
    text-align: left;
}

.schedView .yoko02 .appo h4 {
    padding: 0 0 0 40px;
    text-align: left;
}

.schedView .shita {
    height: 140px;
    clear: both;
    position: relative;
}

.schedView .appo .type {
    right: -4px;
    top: -17px;
}

.schedView .appo .type03 {
    left: -4px;
    top: -17px;
}

.schedView .appo .inner {
    margin: 5px 0 8px;
    border: 1px solid #765946;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.schedView .appo .inner.min {
    padding: 0 0 15px 0;
    line-height: 1.2;
}

.schedView .appo .inner.spot {
    padding-bottom: 15px;
}

.schedView .appo .inner p {
    font-size: 0.88em;
}

.schedView .appo .inner p.text {
    font-size: 0.88em;
    word-break: break-all;
    font-size: 1.2em;
}

.schedView .appo .inner.min > p {
    font-size: 1.25em;
}

.schedView .appo .inner {
    color: #333;
}

.schedView .appo .inner .comment img {
    display: block;
    margin: 0 auto;
    width: 50px;
    height: 50px;
}

.schedView .chuo .vgridWrapper .appo .inner .comment .postComment img.loading {
    display: inline;
    width: 36px;
    height: 36px;
    position: absolute;
    right: -55px;
    bottom: 30px;
    display: none;
}

.comment .postComment .postError {
    color: #f00;
    padding-bottom: 5px;
}

.comment .editError {
    color: #f00;
    text-align: right;
}

.appo .inner .postComment {
    margin-top: 10px;
}

.schedView .bubble02 {
    font-size: 0.88em;
    margin: 0 0 0 12px;
    color: #F14077;
    cursor: pointer;
}

.schedView .appo .imgWrp {
    background-color: #000000;
    position: relative;
    background-color: #000;
}

.schedView .appo .imgWrp h5 {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 1.25em;
    background: url(../images/bg_semitrnsp_01.png);
}

.schedView .appo .imgWrp h5 a {
    padding: 35px 25px 15px 20px;
    display: block;
    color: #fff;
    text-shadow: 0 1px 1px #000;
    background: url(../images/ico_arrow_01.png) no-repeat 98% 50%;
}

.schedView .appo .dotted {
    height: 16px;
    display: block;
}

.schedView .appo .info {
    padding: 18px 18px 5px;
    line-height: 1.4;
    font-size: 0.88em;
    color: #333;
}

.schedView .appo .info dt {
    margin: 0 8px 0 0;
    float: left;
    word-break: break-all;
    word-wrap: break-word;
}

.schedView .appo .info dd {
    overflow: hidden;
    word-break: break-all;
    word-wrap: break-word;
}

.schedView .appo .info dd:first-child {
    margin: 0 0 18px 0;
}

.schedView .appo .transfer, .schedView .appo .free {
    line-height: 1.2;
    padding: 15px 10px 0 10px;
}

.comment {
    margin: 0;
    padding: 0 18px;
    position: relative;
    border: none;
    zoom: 1;
}

.comment.tojiru {
    padding-top: 32px;
}

.comment h5 {
    margin-top: 20px;
    padding: 13px 0 0 0;
    border-top: 1px dashed #E5E5E5;
    font-size: 1.13em;
    color: #765946;
}

.comment .btn11 {
    position: absolute;
    right: 15px;
    top: 5px;
    font-size: 0.69em;
}

.comment > ul {
    padding: 0 0 13px 0;
    overflow: hidden;
}

.comment > ul > li {
    margin: 40px 0 0;
    overflow: hidden;
}

.comment > ul > li:first-child {
    margin-top: 35px;
}

.comment > ul > li img {
    margin: 0 15px 0 0;
    float: left;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    border-radius: 999px;
}

.comment > ul > li p {
    padding: 0 5px 5px;
    overflow: hidden;
    line-height: 1.4;
    font-size: 0.88em;
    color: #444;
    word-break: break-all;
    word-wrap: break-word;
}

.comment > ul > li em {
    margin: 0 8px;
    color: #765946;
    font-style: normal;
}

.comment .cmd {
    float: right;
}

.schedView .vgridWrapper .appo .inner .comment ul li .cmd img {
    display: inline;
    float: none;
    height: 10px;
    width: 20px;
}

.comment .cmd a.loading {
    background-image: url(../images/loading.gif);
    background-size: 18px 18px;
    background-repeat: no-repeat;
    background-position: center;
    line-height: 24px;
    padding: 0 9px;
    color: #fff;
    margin-left: 10px;
    display: inline-block;
}

.comment a.btn09 {
    margin: 0 0 0 10px;
    color: #fff;
}

.comment a.sarani {
    margin: 0 0 15px;
    padding: 18px 0;
    display: block;
    text-align: center;
    color: #765946;
    background-color: #e5e5e5;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
    text-align: center;
}

.frm05 {
    margin: 0 0 20px 0;
    border: 1px solid #ccc;
    padding: 10px;
    display: inline-block;
    position: relative;
/ display: inline;
/ zoom: 1;
}

.frm05 textarea {
    width: 284px;
    min-height: 66px;
    padding: 10px;
    margin: 0;
    border: 1px solid #777;
    background-color: #f3f3f3;
    font-size: 0.88em;
    line-height: 1.2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.comment ul li textarea.modText {
    margin: 0 0 5px 10px;
    color: #333333;
    font-size: 0.75em;
    width: 80%;
}

.frm05 .btn10 {
    position: absolute;
    right: -70px;
    bottom: -3px;
    text-indent: -10px;
    color: #F14077;
}

.myPage {
    clear: left;
    padding: 0 0 20px 0;
    margin: 0 auto;
    overflow: hidden;
}

.btnPrev04 {
    width: 63px;
    height: 100%;
    margin: 0 10px 0 0;
    position: absolute;
    right: 100%;
    top: 0;
    text-align: left;
    text-indent: -99999px;
    background: url(../images/spr_big_04.png) no-repeat -677px -45px;
}

.btnNext04 {
    width: 73px;
    height: 100%;
    position: absolute;
    left: 100%;
    top: 0;
    text-align: left;
    text-indent: -99999px;
    background: url(../images/spr_big_04.png) no-repeat -554px -45px;
}

.oshirase {
    margin: 0 50px 0 0;
    overflow: hidden;
    float: right;
}

.oshirase li {
    width: 356px;
    padding: 18px 0 14px 24px;
    border-top: 1px dotted #765946;
    font-size: 0.88em;
    color: #333;
}

.oshirase li:first-child {
    border-top: none;
}

.oshirase a {
    margin: 0 0 5px -24px;
    display: block;
    color: #F13F77;
    font-size: 1.13em;
}

.myBanner {
    padding: 0;
    float: left;
}

.myBanner img {
    width: 300px;
    height: 130px;
    border: none;
    display: block;
}

/* modal memo & comment overrides */
.modal .comment {
    min-height: 40px;
    padding: 0 76px 0 0;
    border-top: none;
    color: #444;
}

.modal .comment .cmd {
    float: none;
}

.modal .comment > ul {
    margin: 10px 0 0 0;
    height: 300px;
    overflow: hidden;
    position: relative; /* pie bug fix*/
}

.modal .comment > ul > li {
    position: relative; /* pie bug fix*/
}

.modal .comment img {
    position: relative; /* pie bug fix*/
}

.modal .comment .memo {
    padding: 3px 16px;
    overflow: hidden;
    line-height: 1.4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.modal .frmWrp {
    width: 780px;
    padding: 25px 0 5px 40px;
    border-top: 1px solid #aaa;
    position: relative;
    left: -40px;
    background-color: #f3f3f3;
}

.modal .frm05 textarea {
    width: 659px;
    height: 122px;
    resize: vertical;
}

.modal .comment .frm05 .btn10 {
    bottom: 12px;
}

.shusei, .tsuika {
    height: auto;
}

.modal .frm05.sml textarea {
    width: 583px;
    height: 143px;
}

.modal .comment.vsbl {
    margin-top: 80px;
}

.modal .comment.vsbl ul {
    overflow: visible;
}

.comment .btnBox {
    padding: 0 8px 8px 0;
    text-align: right;
}

.comment .btnBox .btn03 {
    width: 132px;
    margin: 0 0 0 9px;
}

.tsuika h3 {
    margin: 0 0 20px 0;
    font-size: 0.88em;
    color: #444;
}

.tsuika h3 span {
    font-size: 0.88em;
    font-weight: normal;
    padding-left: 5px;
    color: #666;
}

.tsuika h3.fst {
    margin-top: 110px;
}

.idoBox {
    margin: 0 0 60px 0;
    overflow: hidden;
}

.idoBox li {
    margin: 0 5px 0 0;
    float: left;
}

.idoBox li a {
    width: 86px;
    height: 106px;
    border: 1px solid #999;
    display: block;
    font-size: 0.75em;
    text-align: center;
    color: #765946;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.idoBox .type02 {
    margin: 15px auto 6px auto;
    display: block;
    position: relative;
    right: auto;
    bottom: auto;
    vertical-align: middle;
}

.idoBox .sel {
    background-color: #ccc;
}

.modal.tsuika .frm01 {
    margin: 0;
}

.tsuika .frm01 {
    margin: 0;
}

.comment_modal_edit {
    display: none;
}

.modal .comment .back {
    position: absolute;
    top: -30px;
    left: 0px;
    color: #f14077;
}

.modal .comment .back > span {
    padding-right: 10px;
}

.modal .comment_modal_edit ul > li {
    overflow: visible;
}

.modal .edit_error {
    position: absolute;
    left: 400px;
    display: none;
    color: #f00;
    font-size: 0.85em;
}

.comment_modal_delete {
    text-align: center;
    font-size: 1em;
    margin-top: 100px;
    display: none;
}

.modal .comment.vsbl.comment_modal_delete {
    margin-top: 150px;
}

.comment_modal_delete > p {
    margin-bottom: 40px;
}

.comment_modal_delete .btn03 {
    margin: 0 15px;
    width: 132px;
}

.btnBox .iro07 span, .comment_modal_delete .iro07 span {
    background-color: #ff6000;
}

.modal .ttlBg.sml {
    height: 68px;
    font-size: 1.5em;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

.modal .comment_back_active {
    margin: 0 0 22px -67px;
    cursor: pointer;
}

.comment_back_arrow {
    margin: 0 48px 0 0;
    font-size: 0.75em;
}

.comment_back {
    font-size: 1.0em;
    font-weight: normal;
}

.comment_modal_error_1 {
    position: absolute;
    top: 7px;
    left: 35px;
    color: #f00;
    font-size: 0.88em;
    display: none;
}

.logarea img {
    width: 1px;
    height: 1px;
}

/* たびともカセット無効時 */
.tabiTomo .btnPrev03.opq,
.tabiTomo .btnNext03.opq {
    cursor: default;
}

@media only screen and (max-device-width: 950px) {
    .haikeiSelect {
        width: 950px;
    }
}

/* iPad用 */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
    .tabiGaiyo .gWrp h2 {
        width: 580px;
    }

    .summary_block {
        width: 580px;
    }
}

/* URLリンク化 */
.appo .inner .free a.urlLabel,
.appo .inner .comment a.urlLabel,
.appo .inner .transfer a.urlLabel {
    color: #999;
    border-bottom: 1px dashed #ccc;
    line-height: 190%;
    padding: 0 1px;
}

.modal .comment .comment_wrapper .memo a.urlLabel {
    color: #F14077;
}
